[submodule "1st"]
	path = 1st
	url = https://github.com/shawnteh1711/first-principle-computer.git
[submodule "c_test"]
	path = c_test
	url = https://github.com/shawnteh1711/check.h.git
[submodule "simple_makefile"]
	path = simple_makefile
	url = https://github.com/shawnteh1711/simple-Makefile.git
[submodule "exam_rank1"]
	path = exam_rank1
	url = https://github.com/shawnteh1711/cadet42-exam.git
